.category {
  position: relative;
  height: 50%;
  margin: 0;
}

.category p {
  position: absolute;

  margin: 0;

  /* Center text */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /* Style text */
  font-size: 3rem;
}

/* Categories color */
.category.exercises {
  background-image: linear-gradient(
                      to bottom,
                      #aef,
                      #8cd
                    );
}

.category.lessons {
  background-image: linear-gradient(
                      to bottom,
                      #fff,
                      #ddd
                    );
}